body {
    font-family: arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

#todo-input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}